version 5.216.0
framework: auto-detect

// If you change something here, delete packet.lock file.

// [ FAKE GROUP ]
group FakeBuild
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fake.Api.GitHub
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.Core.Xml
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git
